<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C1.Xaml.WPF.Ja" version="4.5.20203.727" targetFramework="net472" />
  <package id="C1.Xaml.WPF.Theming.Ja" version="4.5.20203.727" targetFramework="net472" />
  <package id="C1.Xaml.WPF.Theming.ShinyBlue.Ja" version="4.5.20203.727" targetFramework="net472" />
  <package id="Wpf.Themes.ExpressionDark" version="1.1.0" targetFramework="net472" />
</packages>